<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../modules/head.ejs') %>
</head>
<body>
    <div class="row">
        <div class="col-2">
            <%- include ('../modules/sidebar.ejs') %>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <div class="d-block justify-content-start text-start h-100 pt-5 me-3">
                        <p class="fs-4 fw-semibold border-bottom">Historial de ventas</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <form action="" method="GET">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </span>
                                <input type="text" class="form-control" placeholder="Ingrese un nombre o correo electrónico..." aria-label="Buscar">
                                <button class="btn btn-secondary" type="button" id="searchButton">Buscar</button>
                                <!-- Boton de busqueda según el usuario o correo del cliente, debe imprimir las ventas que esten asociadas a su _id -->
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-end justify-content-end p-3">
                                <form id="pdfForm" action="/generarPDFVentas" method="GET">
                                    <button type="submit" class="btn btn-primary">Descargar PDF de Ventas</button>
                                </form>
                            </div>
                        </div>
                        

                        <table id="salesTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Producto(s)</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                               <!-- Que se rellene con los items del dato "sales", según el esquema -->
                               <!-- El campo "Estado" debería ser un dropdown o spinner que permita cambiar de estado (pendiente - cancelado - completado) -->
                               <!-- Se puede hacer con un método script en esta misma vista, que al seleccionar un estado, vaya directo a la api a hacer el cambio -->
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <script src="../public/sales-load.js" ></script>
</body>
</html>