<div class="col-2 sidebar">
    <p class="fs-4"><a style="text-decoration: none; color: white;" href="/admin">Panel Administrador</a></p>
    <div class="d-flex align-items-center">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="../modules/product" class="nav-link active fs-5" aria-current="page">
                <img src="../img/icons/product-ico.png" width="25" alt=""> 
                Productos
              </a>
            </li>
            <li>
              <a href="../modules/user" class="nav-link text-white fs-5">
                <img src="../img/icons/users-ico.png" width="25" alt=""> 
                Usuarios
              </a>
            </li>
            <li>
              <a href="../modules/sales" class="nav-link text-white fs-5">
                <img src="../img/icons/sales-ico.png" width="25" alt=""> 
                Pedidos
              </a>
            </li>
            <li>
              <a href="../modules/inventary" class="nav-link text-white fs-5">
                <img src="../img/icons/inventory-ico.png" width="25" alt=""> 
                Inventario
              </a>
            </li>
            <li>
              <a href="../modules/history" class="nav-link text-white fs-5">
                <img src="../img/icons/history-ico.png" width="25" alt=""> 
                Historial
              </a>
            </li>
          </ul>
      </div>
</div>