<div class="sidebar">
    <p class="fs-4"><a style="text-decoration: none; color: white;" href="/admin">Panel Administrador</a></p>
    <hr>
    <div class="d-flex flex-column flex-shrink-0 p-3">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="../modules/product" class="nav-link active fs-6" aria-current="page">
                <img src="../img/icons/product-ico.png" width="25" alt=""> 
                Productos
              </a>
            </li>
            <li>
              <a href="../modules/user" class="nav-link text-white fs-6">
                <img src="../img/icons/users-ico.png" width="25" alt=""> 
                Usuarios
              </a>
            </li>
            <li>
              <a href="../modules/sales" class="nav-link text-white fs-6">
                <img src="../img/icons/sales-ico.png" width="25" alt=""> 
                Ventas
              </a>
            </li>
            <li>
              <a href="../modules/suscripciones" class="nav-link text-white fs-6">
                <img src="../img/icons/history-ico.png" width="25" alt=""> 
                Suscripciones
              </a>
            </li>
            <li>
              <a href="../modules/config" class="nav-link text-white fs-6">
                <img src="../img/icons/config.png" width="25" alt=""> 
                Configuración
              </a>
            </li>
            
          </ul>
          <hr>
          <a href="/logout" class="nav-link text-white fs-6">
            <img src="../img/icons/cerrar-sesion.png" width="25" alt=""> 
            Cerrar Sesión
          </a>
          
      </div>
</div>