<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeParfum - Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <% if(isLoggedIn){ %>
    <%- include ('../modules/header-login.ejs') %>
  <%} else{ %>
    <%- include ('../modules/header-logout.ejs') %>
  <%} %>
  
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100" style="background-color: white;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Cómo Comprar
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Instrucciones de compra:</strong><br>
                <ol class="list-group list-group-numbered">
                  <li class="list-group-item">Dirígete a la página del producto que desees comprar.</li>
                  <li class="list-group-item">Selecciona todas las especificaciones del producto (tamaño - formato).</li>
                  <li class="list-group-item"> Haz click en el botón "Añadir al carro".</li>
                  <li class="list-group-item">Una vez tengas todo en el carrito, procede a realizar el pago.</li>
                  <li class="list-group-item">Cuando se haya efectuado el pago, se te notificará mediante correo electrónico mas detalles de la compra.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Envíos
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Envíos:</strong><br>
                <p>Todos los envíos se realizan dentro de los 3 días hábiles después de la compra. Realizamos el proceso de envío a través de la empresa BlueExpress, una vez se confirma el
                  envio del producto, se hace la entrega del código de seguimiento del producto para revisarlo en la página oficial de BlueExpress.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Sobre Nosotros
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Sobre Nosotros:</strong><br>
                <p>
                  Somos un emprendimiento nacional, conformado por 3 compañeros de universidad, que buscan sacar adelante su proyecto final de titulo. Si todos nos resulta bien, lograremos titularnos
                  finalmente.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Términos y Condiciones
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  <strong>Términos y Condiciones de Uso</strong><br>
                  Por favor, lea cuidadosamente los siguientes términos y condiciones de uso antes de acceder o utilizar nuestro sitio web.<br>

                  <strong>Aceptación de los Términos</strong><br>
                  Al acceder y utilizar este sitio web, usted acepta estar sujeto a los siguientes términos y condiciones de uso. Si no acepta estos términos, por favor no utilice nuestro sitio.<br>
                  
                  <strong>Cambios en los Términos</strong><br>
                  Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios se harán efectivos inmediatamente después de la publicación de los términos modificados en el sitio web. Le recomendamos que revise estos términos periódicamente para estar al tanto de las actualizaciones.<br>
                  
                  <strong>Privacidad y Seguridad</strong><br>
                  Su privacidad es importante para nosotros. Por favor, revise nuestra Política de Privacidad para entender cómo recopilamos, utilizamos y protegemos sus datos personales.<br>
                  
                  <strong>Uso del Sitio</strong><br>
                  Usted acepta que utilizará este sitio únicamente para fines legales y de acuerdo con estos términos. No está permitido utilizar este sitio de manera que pueda dañar, deshabilitar, sobrecargar o afectar negativamente la disponibilidad o el funcionamiento del sitio.<br>
                  
                  <strong>Derechos de Propiedad Intelectual</strong><br>
                  El contenido, logotipos, imágenes y marcas en este sitio web están protegidos por leyes de propiedad intelectual y no pueden ser utilizados sin autorización.<br>
                  
                  <strong>Compras</strong><br>
                  Al realizar una compra a través de este sitio web, usted acepta proporcionar información precisa y completa sobre su compra. Las transacciones están sujetas a nuestra Política de Compra.<br>
                  
                  <strong>Enlaces a Terceros</strong><br>
                  Nuestro sitio web puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido o las prácticas de privacidad de estos sitios y no somos responsables de ellos.<br>
                  
                  <strong>Limitación de Responsabilidad</strong><br>
                  No garantizamos que el sitio sea libre de errores o que el acceso a él sea continuo. Usted utiliza el sitio bajo su propio riesgo.<br>
                  
                  <strong>Ley Aplicable</strong><br>
                  Estos términos se regirán e interpretarán de acuerdo con las leyes de Chile y cualquier disputa estará sujeta a la jurisdicción de los tribunales de Temuco.<br>
                  
                  <strong>Contacto</strong><br>
                  Si tiene alguna pregunta o inquietación acerca de estos términos y condiciones, por favor contáctenos.<br>        
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Métodos de pago
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Métodos de pago aceptados:</strong><br>
                Todos los métodos permitidos por MercadoPago. En caso de no contar con una tarjeta de crédito, débito o prepago, podrás hacer una transferencia bancaria solicitando los datos mediante correo electrónico
                <p class="fs-6 fw-bold">Tarjeta de crédito</p>
                <ul>
                  <li>
                    <span>Ofrece hasta 12 cuotas sin interés.</span>
                  </li>
                  <li>
                    <span>Recibe la totalidad del pago el mismo día, incluso si el pago es en cuotas</span>
                  </li>
                  <li>
                    <span>Aprobación inmediata</span>
                  </li>
                </ul>
                <strong>Tarjetas aceptadas:</strong>
                <ul class="list-group list-group-horizontal"> 
                  <li class="list-group-item">
                    <img src="img/logos/visa.png" alt="" width="50px">
                  </li>
                  <li class="list-group-item">
                    <img src="img/logos/mastercard.png" alt="" width="50px">
                  </li>
                  <li class="list-group-item">
                    <img src="img/logos/dinnersclub.svg" alt="" width="50px">
                  </li>
                  <li class="list-group-item">
                    <img src="img/logos/cmr.png" alt="" width="50px">
                  </li>
                  <li class="list-group-item">
                    <img src="img/logos/magna.png" alt="" width="50px">
                  </li>
                </ul>
                <br>
                <p class="fs-6 fw-bold">Tarjeta de débito o prepago</p>
                <ul>
                  <li>
                    <span>WebPay</span>
                  </li>
                  <li>
                    <span>Redirigiremos a tu comprador al sitio de Webpay y podrá pagar con su tarjeta de débito o prepago.</span>
                  </li>
                  <li>
                    <span>Aprobación en hasta 4 horas</span>
                  </li>
                </ul>
                <p class="fs-6 fw-bold">Dinero en cuenta de Mercado Pago</p>
                <ul>
                  <li>
                    <span>Aprobación inmediata</span>
                  </li>
                </ul>
                <p class="fs-6 mt-2 border-top">
                  Tu cliente puede elegir el medio de pago que prefiera y una vez aprobado, el monto se acredita en tu cuenta de Mercado Pago, de acuerdo con los plazos que hayas elegido.
                </p>
                <p class="fs-6">
                  Te avisaremos por e-mail siempre que recibas un pago en tu cuenta.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Seguridad
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Políticas de seguridad de LeParfum</strong>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include ('../modules/footer.ejs') %>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
