<!-- Mostrar mensajes flash de éxito (por ejemplo, al registrarse correctamente) -->
<% if (typeof successFlash !== 'undefined') { %>
  <div class="alert alert-success">
    <%= successFlash %>
  </div>
<% } %>

<!-- Mostrar mensajes flash de error (por ejemplo, al ingresar credenciales incorrectas) -->
<% if (typeof errorFlash !== 'undefined') { %>
  <div class="alert alert-danger">
    <%= errorFlash %>
  </div>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeParfum - Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-color: #8DB5D8;">
  <header >
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span class="navbar-img">
            <img class="ms-5" src="https://i.ibb.co/ZNG7Xmj/P-1-removebg-preview.png" alt="P-1-removebg-preview" border="0" width="80" height="80">
          </span>
        </a>
      </div>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/landing">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/landing">Perfumería</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="landing">Suscripcion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
          </ul>
          <button class="btn btn-outline-danger me-2"><a class="nav-link" href="#">Login</a></button>
          <button class="btn btn-outline-success"><a class="nav-link" href="#">Sign in</a></button>
        </div>
      </div>
    </nav>
  </header>
  <div class="container text-center rounded shadow" style="background-color: #D8E6F3;">
      <div class="row mt-5">
        <div class="col-5 rounded-1 align-self-center">
          <img class="img w-100 rounded m-4" src="https://images.unsplash.com/photo-1591892204579-530edbd4724d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80" alt="loginside">
        </div>
        <div class="col-6 mb-3 mt-5 ms-3 text-center">
          <div class="mb-3 ms-5">
            <p class="fs-4 fw-semibold">Iniciar sesión</p>
          </div>
          <form action="/login" method="POST">
            <div class="mb-3 ms-5">
              <label class="form-label" for="email">Correo electrónico:</label>
              <input class="form-control shadow-sm" type="email" id="email" name="email" required>
            </div>
            <div class="mb-3 ms-5">
              <label class="form-label" for="password">Contraseña:</label>
              <input class="form-control shadow-sm" type="password" id="password" name="password" required>
            </div>
            <div class="mb-3 ms-5">
              <button class="btn btn-success" type="submit">Iniciar sesión</button>
            </div>
          </form>
          <p class="fs-6">¿No tienes una cuenta? <a class="link-success link-offset-2 link-underline link-underline-opacity-0" href="/register">Regístrate aquí</a></p>
        </div>
        
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></body>
</html>
