<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeParfum - Pago Exitoso</title>
    <link rel="shortcut icon" href="img/logos/logo.png">
    <link rel="stylesheet" type="text/css" href="/style-cart.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-expand-sm bg-body-tertiary shadow">
          <div class="container>
            <a class="navbar-brand" href="#">
              <span class="navbar-img">
                <img class="ms-5" src="https://i.ibb.co/ZNG7Xmj/P-1-removebg-preview.png" alt="P-1-removebg-preview" border="0" width="80" height="80">
              </span>
            </a>
          </div>
        </nav>
    </header>

    <section class="h-100 gradient-form d-flex align-items-center">
      <div class="container py-5">
          <div class="row justify-content-center">
              <div class="col-12 col-xl-12 col-sm-6 px-5 text-center">
                  <div class="">
                    <span>
                      <img src="./img/icons/exito.png" width="80" alt="">
                    </span>
                    <p class="fs-3">Pago realizado con éxito</p>
                  </div>
              </div>
              <div class="col-12 col-xl-12 col-sm-6 px-5 text-center">
                <p class="fs-5">Resumen de compra</p>
                <div class="container border-3 rounded-2 border-black shadow">
                  <p class="fs-6 text-center pt-5">
                    Ya realizada la comprobación del pago, podrás ver la información de la compra en tu Perfil>Pedidos <br><br>
                    <strong>Muchas gracias por preferir la elegancia, por preferir LeParfum</strong>
                  </p>
                  <a href="/account" class="btn btn-secondary rounded-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                  </a>
                </div>
              </div>
          </div>
      </div>
    </section>
  
  
</body>
</html>