<!-- Mostrar mensajes flash de éxito (por ejemplo, al registrarse correctamente) -->
<% if (typeof successFlash !== 'undefined') { %>
  <div class="alert alert-success">
    <%= successFlash %>
  </div>
<% } %>

<!-- Mostrar mensajes flash de error (por ejemplo, al ingresar credenciales incorrectas) -->
<% if (typeof errorFlash !== 'undefined') { %>
  <div class="alert alert-danger">
    <%= errorFlash %>
  </div>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeParfum - Registro</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header >
    <nav class="navbar navbar-expand-lg navbar-expand-sm bg-body-tertiary shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span class="navbar-img">
            <img class="ms-5" src="https://i.ibb.co/ZNG7Xmj/P-1-removebg-preview.png" alt="P-1-removebg-preview" border="0" width="80" height="80">
          </span>
        </a>
      </div>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/perfumeria">Perfumería</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/suscripcion">Suscripcion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nosotros">Nosotros</a>
            </li>
          </ul>
          <a href="/login" class="btn btn-outline-danger">Iniciar Sesión</a>
        </div>
      </div>
    </nav>
  </header>
  
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://i.ibb.co/ZNG7Xmj/P-1-removebg-preview.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Únete al equipo LeParfum</h4>
                  </div>
  
                  <form action="/register" method="POST">
                    <p>Por favor, ingrese sus datos</p>
  
                    <div class="form-outline mb-3">
                      <input required type="text" oninput="this.value = this.value.replace(/[^a-zA-Z- ]/g, '').slice(0, 20);" id="name" name="name" class="form-control" placeholder="Ej: Ignacio Puentes"/>
                      <label class="form-label" for="EmailForm">Nombre Completo</label>
                    </div>

                    <div class="form-outline mb-3">
                      <input required type="celular" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);" id="celular" name="celular" class="form-control" placeholder="Ej: 998765432"/>
                      <label class="form-label" for="celular">Celular</label>
                    </div>

                    <div class="form-outline mb-3">
                      <input required type="email" id="email" name="email" id="form2Example11" class="form-control" placeholder="Ingrese su correo electrónico"/>
                      <label class="form-label" for="email">Correo</label>
                    </div>
  
                    <div class="form-outline mb-3">
                      <input required id="password" name="password" type="password" id="Ingrese una contraseña" class="form-control" />
                      <label class="form-label" for="password">Contraseña</label>
                    </div>

                    <p class="border-top">Por favor, seleccione  sus preferencias</p>
                    <div class="form-outline mb-3">
                      <label for="q1">¿Cual es tu sexo?</label>
                      <select class="form-select" name="sexo" id="q1" required>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                      </select>
                    </div>

                    <div class="form-outline mb-3">
                      <label for="q2">¿Qué actividad disfrutas más en tu tiempo libre?</label>
                      <select class="form-select" name="actividad" id="q2" required>
                        <option value="1">Salir a cenar y socializar</option>
                        <option value="2">Salir ocacionalmente a tomar algo</option>
                        <option value="3">Juntas con amigos</option>
                      </select>
                    </div>

                    <div class="form-outline mb-3">
                      <label for="q3">¿Cuál es tu estación del año favorita?</label>
                      <select class="form-select" name="estacion" id="q3" required>
                        <option value="1">Otoño</option>
                        <option value="2">Verano</option>
                        <option value="3">Primavera</option>
                        <option value="4">Invierno</option>
                      </select>
                    </div>

                    <div class="form-outline mb-3">
                      <label for="q4">¿Qué tipo de eventos sociales sueles asistir con frecuencia?</label>
                      <select class="form-select" name="evento" id="q4" required>
                        <option value="1">Reuniones informales con amigos</option>
                        <option value="2">Reuniones de negocios</option>
                        <option value="3">Citas a ciegas</option>
                        <option value="4">Reuniones en ambientes cerrados</option>
                      </select>
                    </div>

                    <div class="form-outline mb-3">
                      <label for="q5">¿Gama de colores favoritos?</label>
                      <select class="form-select" name="color" id="q5" required>
                        <option value="1">Grises</option>
                        <option value="2">Pasteles</option>
                        <option value="3">Cálidos</option>
                        <option value="4">Fríos</option>
                        <option value="4">Neón</option>
                      </select>
                    </div>
                    <p class="fw-medium">Todas las respuestas serán confidenciales y utilizadas para generar promociones o recomendaciones</p>
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <button type="submit" class="btn btn-outline-danger">Registrarse</button>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Ya tienes una cuenta?</p>
                      <a href="/login" class="btn btn-outline-danger">Iniciar Sesión</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block">
                <img src="https://images.unsplash.com/photo-1613521076081-2820f9746a2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Login Side" class="img-fluid h-100" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 mt-3">
          <p class="fw-semibold">INFORMACIÓN</p>
          <ul class="">
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Cómo comprar</a></li>
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Métodos de pago</a></li>
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Seguridad</a></li>
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Envíos</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 mt-3">
          <p class="fw-semibold">EMPRESA</p>
          <ul class="">
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Sobre Nosotros</a></li>
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Términos y Condiciones</a></li>
            <li class="list-group-item"><a class="nav-link" href="/info-page"><span>&#10132;</span>Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-12 mt-3">
          <p class="fw-semibold">SIGUENOS</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="nav-link" href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 24 24">
              <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
            </svg></a></li>
            <li class="list-inline-item"><a class="nav-link" href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
              <path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h10v-9h-3v-3h3v-1.611C16,9.339,17.486,8,20.021,8 c1.214,0,1.856,0.09,2.16,0.131V11h-1.729C19.376,11,19,11.568,19,12.718V14h3.154l-0.428,3H19v9h5c1.105,0,2-0.895,2-2V6 C26,4.895,25.104,4,24,4z"></path>
            </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col">
          <p>Propiedad artística © 2023 LeParfum. <br>
            Todos los derechos reservados por LeParfum Chile</p>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
